/* By: Jake Pitkin on January 25, 2015 */
/* The style sheet for the main page of the */
/* teaching assistant application. */


/* Body */
body {
	margin: 0;
	padding: 0;
	border: 0;
	height: 100%; 

	background-image: url("../../images/grey_background.png");
    background-color: #FFFFFF;

    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    color: black;
}

/* Title */
#header {
	font-size: 36px;
	color: #484848;
	background-color: #FFFFFF;
	padding-top: 5px;
	padding-left: 15px;	
	margin-bottom: 0px;
}

/* Navigation bar */
#nav {
	display: inline-block;
	width: 100%;
	padding: 5px;
	background-color: #383838;
	margin: 0px;
}

/* Content */
#content {
	margin-top: 20px;
	font-size: 36px;
	text-align: center;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: white;
	border: 2px solid;
    border-radius: 25px;
    padding: 10px;
    margin-bottom: 40px;
}

/* Footer */
#footer {
	margin-top: 20px;
	margin-bottom: 40px;
	font-size: 36px;
	text-align: center;
	color: #000000;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	background-color: white;
	border: 2px solid;
    border-radius: 25px;
}

#login {
	text-align: center;
}

#new_user_button {
	display: inline;
}

#submit_button {
	width: 200px;
	font-size: 48px;
}

#ta_nav {
	margin: 10px;
}

#email_label {
	padding-left: 55px;
}

/* Password input field */
#password_login {
	width: 400px;
	font-size: 24px;
}

/* E-mail input field */
#email_login {
	width: 400px;
	font-size: 24px;
}

/* Extra links for TA use */
#ta_nav li {
	display: inline;
	list-style: none;
	text-align: center;
	font-size: 36px;
	color: #FF9999;
}

/* User Navigation */
#ta_nav a:link, #ta_nav a:visited {
	text-decoration: none;
	color: #FF9999;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 2px;
}

/* Links for user nav */
#nav_list li {
	display: inline;
	list-style: none;
	text-align: center;
	font-size: 24px;
	color: #FF9999;
}

/* User Navigation */
#nav_list a:link, #nav_list a:visited {
	text-decoration: none;
	color: #FF9999;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 2px;
}

/* User Navigation */
#nav_list a:hover {
	color: white;
}

/* User Navigation */
#ta_nav a:hover {
	color: black;
}

h4 {
	font-size: 24px;
	color: red;
	margin: 5px;
}

h3 {
	margin-left: 10px;
}

h2 {
	margin: 10px;
}

p {
	padding: 5px;
	margin: 0px;
}

/* Green input box for valid input */
input.valid_input {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

/* Red input box for invalid input */
input.invalid_input {
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}

/* White input box for an empty input */
input.empty {
	border-color:hsl(145, 100%, 0%, 1);
    background:hsl(360, 100%, 100%, 1);
}

ul.current_week {
	font-size: 18px;
}